<!-- Search Popup Start -->
<div class="search-popup">
	<div class="search-popup__overlay search-toggler"></div>
	<div class="search-popup__content">
		<form
			role="search"
			method="get"
			class="search-popup__form"
			action="{{ url_for('web.home') }}"
		>
			<input
				type="text"
				id="search"
				name="search"
				placeholder="Search monitoring stations..."
				autocomplete="off"
			/>
			<button type="submit"><i class="fal fa-search"></i></button>
		</form>
	</div>
</div>
<!-- Search Popup End -->
