<div class="header navbar">
    <div class="header-container">
      <ul class="nav-left">
        <li>
          <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
            <i class="ti-menu"></i>
          </a>
        </li>
      </ul>
      <ul class="nav-right">
        <li class="notifications dropdown">
          <!--<span class="counter bgc-blue">3</span>-->
          <a href="" class="dropdown-toggle no-after" data-bs-toggle="dropdown">
            <i class="ti-email"></i>
          </a>

          <ul class="dropdown-menu">
            <li class="pX-20 pY-15 bdB">
              <i class="ti-email pR-10"></i>
              <span class="fsz-sm fw-600 c-grey-900">Send us an email at</span>
            </li>
            <li class="pX-20 pY-15 ta-c bdT">
              <span>
                <a href="mailto:aircode@cspc.edu.ph" class="c-grey-600 cH-blue fsz-sm td-n">aircode@cspc.edu.ph <i class="fs-xs ti-angle-right ms-10"></i></a>
              </span>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="https://ai.cspc.edu.ph" class=" no-after peers fxw-nw ai-c lh-1">
            <div class="peer mR-10">
              <img class="w-2r bdrs-50p" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
            </div>
            <div class="peer">
              <span class="fsz-sm c-grey-900">AIRCoDe</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  